:root {
    --main-title-color: #ffffff;
    --main-btn-color: #ffffff;
    --second-title-color: #212121;
    --second-btn-color: #303030;
    --accent-color: #2196f3;
    --main-font: "Raleway", sans-serif;
    --bg-gradient: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4));
}