:root {
    --main-title-color: #ffffff;
    --main-btn-color: #ffffff;
    --second-title-color: #212121;
    --second-btn-color: #303030;
    --accent-color: #2196f3;
    --main-font: "Raleway", sans-serif;
}